@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
	color:white;
	box-sizing:border-box;
}
body{
	background:url("../img/bg_pg.jpg") no-repeat center center fixed;
    box-shadow: inset 0 0 5em 1em #000;
}
/*-----------------------------------
--------------SCROLLBAR--------------
-----------------------------------*/
::-webkit-scrollbar{
    width: 10px;
	background:#323232;
}
::-webkit-scrollbar-thumb{
    background: #4e817c;
	border-radius:100px;
}
::-webkit-scrollbar-thumb:hover:active{
	background: #2b4240;
}
::-webkit-scrollbar-thumb:hover{
	background: #73bfb7;
}
#mainCONT{
	width:90%;
	height:100vh;
	margin:0 auto;
	font-family:bebas_neueregular;
}
/*-----------------------------------
--------------HEADER-----------------
-----------------------------------*/
#logo{
	width:300px;
	margin-top:10px;
	
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}
nav{
	display: flex;
    align-items: center;
    justify-content: space-around;
	font-size:25px;
	height: 10vh;
	
	border-bottom:2px solid darkgrey;
}
a, a:visited{
	text-decoration:none;
	transition:0.3s;
	
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}
a:hover{
	border-bottom:2px solid orange;
}
a:active:hover{
	color:orange;
	border-bottom:2px solid white;
}
#linksNAV{
	list-style:none;
	display: flex;
	justify-content: space-between;
	width:400px;
}
/*-----------------------------------
--------------CONTENT----------------
-----------------------------------*/
#about{
	display: flex;
    height: 85vh;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 20px auto;
}
#about .aboutCONT{
	display:flex;
	flex-direction:row;
	align-items: flex-start;
	width:1050px;
	justify-content: space-between;
}

h1,h2{
	font-weight:normal;
	text-shadow:0 0 10px crimson;
}
h1{
	font-size:70px;
	border-bottom:5px solid white;
	width:500px;
}

#about .info{
	list-style:none;
	padding-left:25px;
	font-size:20px;
	padding:30px;
	width:500px;
	border-bottom:5px solid white;
}
#about .info span{
	color:grey;
	margin-right:20px;
	font-family:Courier New;
	font-weight:bold;
}

#about .bigPic{
	border:10px solid white;
	height:310px;
	width:550px;
	
	overflow:hidden;
}
#about .bigPic img{
	width:550px;
	
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}
.imgSubtitle{
	display:inline-block;
	background-color:#24242487;
	backdrop-filter: blur(6px);
	width: 550px;
    height: 50px;
	opacity:0%;
	transition:0.2s;
	
	padding:10px;
	position:relative;
	top:-60px;
}
#about .img:hover + .imgSubtitle, .imgSubtitle:hover,.imgSubtitle:focus{
	display:inline-block;
	opacity:100%;
}
/*-----------------------------------
-----------FEATURED WORK-------------
-----------------------------------*/
	.extraAboutCONT{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 1050px;
		margin-top:20px;
		letter-spacing: 1px;
	}
	.extraModule h2{
		font-size:25px;
	}
	.extraModule .featuredListA, .featuredListB{
		list-style:none;
	}
	.extraModule .featuredListA{
		list-style:none;
		display:block;
		padding:10px;
		margin-left: 45px;
	}
	.extraModule .featuredListA li{
		position: relative; 
		padding:10px;
		font-size:18px;
		background-color:#3a3a3a;
		border:1px solid grey;
		margin:0 0 2px;
	}
	.extraModule .featuredListA li:before {
		content: "+";
		position: absolute;
		top: -1px;
		left: -45px;
		font-size: 50px;
		vertical-align: middle;
		padding: 0 10px;
		background-color: #3a3a3a;
		border: 1px solid grey;
		line-height: 40px;
	}
	.extraModule .featuredListA p {
		opacity:0;
		font-size:16px;
		transition:0.2s;
		height:0px;
		padding-top:0px;
		overflow:hidden;
	}
	.extraModule .featuredListA li:hover p,
	.extraModule .featuredListA li:focus p{
		opacity:1;
		height:75px;
		padding-top:10px;
	}
	.extraModule .featuredListA span{
		color:crimson;
		margin-right:20px;
		font-family:Courier New;
		font-weight:bold;
	}
	.extraModule .featuredListA a{
		color:orange;
	}
	.extraModule .featuredListA a:hover{
		color:crimson;
	}
	.extraModule .featuredListB{
		font-size:18px;
		padding:10px;
		margin-left:15px;
	}
/*-----------------------------------
--------------SKILLS-----------------
-----------------------------------*/
	.extraModule .featuredListB .skill{
		list-style:circle;
		border:2px solid orange;
		border-radius:5px;
		padding:5px;
		text-align:center;
		margin:0 0 5px;
	}
/*-----------------------------------
-----------SOFTWARE I USE------------
-----------------------------------*/
	.extraModule .SWCont .featuredListB{
		margin-left:50px;
	}
	.extraModule .SWCont .featuredListB li{
		position: relative; 
		padding:10px;
		padding-left: 15px;
		font-size:18px;
		background-color:rgba(0,0,0,0.2);
		backdrop-filter: blur(6px);
		border-radius:0 10px 10px 0;
		margin:0 0 10px;
		line-height: 32px;
	}
	.extraModule .SWCont .featuredListB li:before{
		content: "+";
		position: absolute;
		top: -1px;
		left: -47px;
		color:rgba(0,0,0,0);
		font-size: 70px;
		border-radius:10px;
		vertical-align: middle;
		padding: 0 10px;
		line-height: 50px;
		border:2px solid black;
	}
	.extraModule .SWCont .featuredListB .audition:before{
		background:url("../img/audition.png") no-repeat center center;
		background-size:52px;
	}
	.extraModule .SWCont .featuredListB .premiere:before{
		background:url("../img/premiere.png") no-repeat center center;
		background-size:52px;
	}
	.extraModule .SWCont .featuredListB .aftereffects:before{
		background:url("../img/aftereffects.png") no-repeat center center;
		background-size:52px;
	}
	.extraModule .SWCont .featuredListB .photoshop:before{
		background:url("../img/photoshop.png") no-repeat center center;
		background-size:52px;
	}
	
	
/*-----------------------------------	
----------PANTALLAS 2000px-----------
-----------------------------------*/
@media only screen and (min-width: 2000px){
	/*HEADER*/
	#logo{
		width:400px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:33px;
		height: 10vh;
	}
	a:hover{
		border-bottom:3px solid orange;
	}
	a:active:hover{
		color:orange;
		border-bottom:3px solid white;
	}
	#linksNAV {
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 500px;
	}
	h1 {
		font-size: 100px;
		border-bottom: 5px solid white;
		width: 500px;
	}
	#about .info {
		list-style: none;
		padding-left: 25px;
		font-size: 25px;
		padding: 30px;
		width: 500px;
		border-bottom: 5px solid white;
	}
	#about .aboutCONT {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 1120px;
		justify-content: space-between;
	}
	#about .bigPic {
		border: 10px solid white;
		height: 355px;
		width: 620px;
		overflow: hidden;
	}
	#about .bigPic img {
		width: 620px;
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	.imgSubtitle {
		display: inline-block;
		background-color: #24242487;
		backdrop-filter: blur(6px);
		width: 620px;
		height: 50px;
		opacity: 0%;
		transition: 0.2s;
		padding: 10px;
		position: relative;
		top: -60px;
	}
	.extraAboutCONT {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 1360px;
		margin-top: 20px;
		letter-spacing: 1px;
	}
	.extraModule h2 {
		font-size: 35px;
	}
	.extraModule .featuredListA li {
		position: relative;
		padding: 10px;
		font-size: 23px;
		background-color: #3a3a3a;
		border: 2px solid grey;
		margin: 0 0 5px;
	}
	.extraModule .featuredListA li:before {
		content: "+";
		position: absolute;
		top: -2px;
		left: -58px;
		font-size: 50px;
		vertical-align: middle;
		padding: 0 13px;
		background-color: #3a3a3a;
		border: 2px solid grey;
		line-height: 46px;
	}
	.extraModule .featuredListA p {
		opacity: 0;
		font-size: 20px;
		transition: 0.2s;
		height: 0px;
		padding-top: 0px;
		overflow: hidden;
	}
	.extraModule .featuredListA li:hover p, 
	.extraModule .featuredListA li:focus p {
    opacity: 1;
    height: 84px;
    padding-top: 10px;
	}
	.extraModule .featuredListB {
		font-size: 23px;
		padding: 10px;
		margin-left: 15px;
	}
	.extraModule .SWCont .featuredListB li {
		position: relative;
		padding: 10px;
		padding-left: 15px;
		font-size: 25px;
		background-color: rgba(0,0,0,0.2);
		backdrop-filter: blur(6px);
		border-radius: 0 10px 10px 0;
		margin: 0 0 10px;
		line-height: 32px;
	}
}
/*-----------------------------------
---------PANTALLAS MOVILES-----------
-----------------------------------*/
@media only screen and (max-width: 702px){
	#mainCONT{
	width:90%;
	height:200vh;
	margin:0 auto;
	font-family:bebas_neueregular;
	}
	/*HEADER*/
	#logo{
		width:300px;
		margin-top:10px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:23px;
		height: 15vh;
		flex-direction: column;
	}
	a, a:visited{
		text-decoration:none;
		transition:0.3s;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
	a:active:hover{
		color:orange;
		border-bottom:2px solid white;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:400px;
	}
	/*ABOUT*/
	#about{
	display: flex;
    height: 85vh;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin: 20px auto;
	}
	#about .aboutCONT{
		display:flex;
		flex-direction: column;
		align-items: center;
		width:400px;
		justify-content: space-between;
	}

	h1,h2{
		font-weight:normal;
		text-shadow:0 0 10px crimson;
	}
	h1{
		font-size:70px;
		border-bottom:5px solid white;
		width:500px;
	}

	#about .info{
		list-style:none;
		padding-left:25px;
		font-size:20px;
		padding:30px;
		width:550px;
		border-bottom:5px solid white;
	}
	#about .info span{
		color:grey;
		margin-right:20px;
		font-family:Courier New;
		font-weight:bold;
	}

	#about .bigPic{
		border:10px solid white;
		height:310px;
		width:550px;
		
		overflow:hidden;
	}
	#about .bigPic img{
		width:550px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	.imgSubtitle{
		display:inline-block;
		background-color:#24242487;
		backdrop-filter: blur(6px);
		width: 550px;
		height: 50px;
		opacity:0%;
		transition:0.2s;
		
		padding:10px;
		position:relative;
		top:-60px;
	}
	/*featured*/
	.extraAboutCONT{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 540px;
		margin-top:20px;
		letter-spacing: 1px;
	}
}
@media only screen and (max-width: 602px){
	/*HEADER*/
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:23px;
		height: 15vh;
		flex-direction: column;
	}
}
@media only screen and (max-width: 577px){
	/*HEADER*/
	#logo{
		width:300px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:95%;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
	/*ABOUT*/
	#about .aboutCONT {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 403px;
		justify-content: space-between;
	}
	#about .info {
    list-style: none;
    padding-left: 25px;
    font-size: 20px;
    padding: 30px;
    width: 100%;
    border-bottom: 5px solid white;
	}
	#about .bigPic {
    border: 10px solid white;
    /* height: 310px; */
    width: 100%;
    overflow: hidden;
	}
	.extraAboutCONT {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 440px;
    margin-top: 20px;
    letter-spacing: 1px;
	}
	h1 {
		font-size: 70px;
		border-bottom: 5px solid white;
		width: 100%;
	}
	#about .bigPic {
		border: 10px solid white;
		/* height: 310px; */
		width: 80%;
		overflow: hidden;
	}
}
@media only screen and (max-width: 350px){
	/*HEADER*/
	#logo{
		width:280px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:21px;
		height: 15vh;
		flex-direction: column;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:290px;
	}
	/*ABOUT*/
	h1 {
		font-size: 70px;
		border-bottom: 5px solid white;
		width: 320px;
	}
	#about .info {
		list-style: none;
		padding-left: 25px;
		font-size: 20px;
		padding: 25px;
		width: 320px;
		border-bottom: 5px solid white;
	}
	#about .aboutCONT {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    justify-content: space-between;
	}
	#about .bigPic {
		border: 10px solid white;
		/* height: 310px; */
		width: 320px;
		overflow: hidden;
	}
	.extraAboutCONT {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 320px;
		margin-top: 20px;
		letter-spacing: 1px;
	}
}