@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
	color:white;
	box-sizing:border-box;
}
body{
	background:url("../img/bg.png") no-repeat center center fixed;
	background-size:cover;
	backdrop-filter: blur(6px);
    box-shadow: inset 0 0 5em 1em #000;
}
/*-----------------------------------
------------SCROLLBAR----------------
-----------------------------------*/
::-webkit-scrollbar{
    width: 10px;
	background:#323232;
}
::-webkit-scrollbar-thumb{
    background: #4e817c;
	border-radius:100px;
}
::-webkit-scrollbar-thumb:hover:active{
	background: #2b4240;
}
::-webkit-scrollbar-thumb:hover{
	background: #73bfb7;
}
#mainCONT{
	width:90%;
	height:100vh;
	margin:0 auto;
	font-family:bebas_neueregular;
}
/*-----------------------------------
-------------HEADER------------------
-----------------------------------*/
#logo{
	width:300px;
	margin-top:10px;
	
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}
nav{
	display: flex;
    align-items: center;
    justify-content: space-around;
	font-size:25px;
	height: 10vh;
}
a, a:visited{
	text-decoration:none;
	transition:0.3s;
	
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}
a:hover{
	border-bottom:2px solid orange;
}
a:active:hover{
	color:orange;
	border-bottom:2px solid white;
}
#linksNAV{
	list-style:none;
	display: flex;
	justify-content: space-between;
	width:400px;
}
/*-----------------------------------
--------------CONTENT----------------
-----------------------------------*/
#welcome{
	display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
}
#welcome span{
	font-size:25px;
}
h1,h2{
	font-weight:normal;
	text-shadow:0 0 15px crimson;
}
h1{
	font-size:70px;
}
h2{
	font-size:30px;
}
#welcome .botones{
	display:flex;
	align-items: center;
    justify-content: space-around;
	width:300px;
	margin-top:10px;
}
#welcome .boton{
	background-color:#80808054;
	backdrop-filter: blur(10px);
	padding:10px;
	border:2px solid white;
}
#welcome .boton:hover{
	background-color:#913c3c54;
	border:2px solid orange;
}
#welcome .boton:active{
	background-color:#80808000;
	border:2px solid white;
}
#welcome .boton_transp{
	padding:10px;
	border:2px solid white;
}
#welcome .boton_transp:hover{
	border:2px solid orange;
	background-color:#ffffff42;
	backdrop-filter: blur(2px);
}

/*-----------------------------------
---------PANTALLAS 2000px------------
-----------------------------------*/
@media only screen and (min-width: 2000px){
	/*HEADER*/
	#logo{
		width:400px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:33px;
		height: 10vh;
	}
	a:hover{
		border-bottom:3px solid orange;
	}
	a:active:hover{
		color:orange;
		border-bottom:3px solid white;
	}
/*CONTENT*/
	h1{
		font-size:85px;
		text-align:center;
	}
	h2{
		font-size:40px;
	}
	#welcome span{
	font-size:35px;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:520px;
	}
}

/*-----------------------------------
---------PANTALLAS MOVILES-----------
-----------------------------------*/
@media only screen and (max-width: 702px){
	/*HEADER*/
	#logo{
		width:300px;
		margin-top:10px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:23px;
		height: 10vh;
		flex-direction: column;
	}
	a, a:visited{
		text-decoration:none;
		transition:0.3s;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
	a:active:hover{
		color:orange;
		border-bottom:2px solid white;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:400px;
	}
	/*CONTENT*/
	h1{
		font-size:60px;
	}
	h2{
		font-size:20px;
	}
	#welcome span{
	font-size:15px;
	}
}
@media only screen and (max-width: 602px){
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:23px;
		height: 10vh;
		flex-direction: column;
	}
	h1{
		font-size:50px;
	}
	h2{
		font-size:20px;
	}
	#welcome span{
	font-size:15px;
	}
}

@media only screen and (max-width: 577px){
/*HEADER*/
	#logo{
		width:300px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:95%;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
/*CONTENT*/
	h1{
		font-size:45px;
		text-align:center;
	}
	h2{
		font-size:20px;
	}
	#welcome span{
	font-size:15px;
	}
}


@media only screen and (max-width: 320px){
/*HEADER*/
	#logo{
		width:280px;
		
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-webkit-user-select: none;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size:21px;
		height: 10vh;
		flex-direction: column;
	}
	a:hover{
		border-bottom:2px solid orange;
	}
	#linksNAV{
		list-style:none;
		display: flex;
		justify-content: space-between;
		width:290px;
	}
/*CONTENT*/
	h1{
		font-size:45px;
		text-align:center;
	}
}

